<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - FALKOR</title>
</head>
<body>
    <nav>
        <a href="/">Index</a>
        <a href="/users">Users</a>
        <a href="/stock">Stock</a>
        <a href="/edit">Edit user</a>
    </nav>
    <h1>Index</h1>
</body>
</html>

